In [1]:
 name = input('What is your name ?')

What is your name ?Sipra

In [2]:
print(name)
print(type(name))

Sipra
<class 'str'>

In [3]:
age = input('What is your age ?')

What is your age ?31

In [4]:
print(age)
print(type(age))

31
<class 'str'>

In [7]:
import math
print(pow(2,5))
print(math.pi)

32
3.141592653589793

In [15]:
#Object type
print(isinstance(42, int))
print(isinstance(str(42), int))
print(id(42))
number = 314
id(number)

True
False
10752168

132331905426576

In [20]:
#check Object ref
word_counter = letter_couhter = 0
print(id(word_counter) == id(letter_couhter))

greeting = 'helloH'
print(id(greeting[0]), id(greeting[5]))
print(id(greeting[0]) == id(greeting[5]))

True
10797288 10795496
False

In [29]:
#Mutability of List - inplace changes possible
greetings = ' Hello world'
print(id(greeting))

fruits = ['applie', 'banana', 'orange']
print(type(fruits))
print(fruits)
print(id(fruits[0]) == id(fruits[2]))
fruits[2] = 'apricot'
print(fruits)

132331729962544
<class 'list'>
['applie', 'banana', 'orange']
False
['applie', 'banana', 'apricot']

In [36]:
#List -sorting
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)
#List -appending
cars.append('Mahindra')
print(cars)
#List - range
nums = list(range(10))
print(nums)
nums = list(range(0, 100, 5))
print(nums)

['BMW', 'Ford', 'Volvo']
['BMW', 'Ford', 'Volvo', 'Mahindra']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [44]:
#slicing
numbers = list(range(20, 200, 10))
print(numbers)
print(numbers[1:3])
print(numbers[0:3])
print(numbers[4:])
print(numbers[-1]) #backwards
print(numbers[1:10:3])
print(numbers[::-1])

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]
[30, 40]
[20, 30, 40]
[60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]
190
[30, 60, 90]
[190, 180, 170, 160, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20]

In [56]:
days = {1:"Monday", "2":"Tuesday", 3:"Wednesday"}
print(days)
print(type(days))
print(id(days))

print(days.keys())
print(days.values())
print(days["2"])

days["2"] = "Thursday"
print(days)
print(id(days))

inventory = {2:5, "3": "Rare", 3: "calvin"}
inventory["3"] = "Rabbit"
print(inventory)

inventory = inventory | {3 : "Klein"}
print(len(inventory))

{1: 'Monday', '2': 'Tuesday', 3: 'Wednesday'}
<class 'dict'>
132331719210048
dict_keys([1, '2', 3])
dict_values(['Monday', 'Tuesday', 'Wednesday'])
Tuesday
{1: 'Monday', '2': 'Thursday', 3: 'Wednesday'}
132331719210048
{2: 5, '3': 'Rabbit', 3: 'calvin'}
3
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [61]:

dictlist = {
  "brand": "Ford",
  "car": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(dictlist)

print(id(dictlist))

{'brand': 'Ford', 'car': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
132331906180992